<template>
  <div class="admin">
    <ingredient-management />
  </div>
</template>

<script>
import IngredientManagement from '../components/IngredientManagement';
import snackBarMixin from '@/mixins/snackbar';

export default {
  name: 'Admin',
  mixins: [snackBarMixin],
  components: {
    IngredientManagement
  },
  mounted() {
    this.$store.dispatch('ingredientModule/fetchIngredients');
    this.$store.dispatch('ingredientTypeModule/fetchIngredientTypes');
  }
};
</script>
