<template>
  <div class="home text-center">
    <SearchIgredients />
    <div v-if="ingredients.length > 0">
      <div v-for="ingredientType in ingredientTypes" :key="ingredientType.id">
        <ListIngredients
          :title="ingredientType.name"
          :ingredients="filterIngredients(ingredientType.id)"
        />
      </div>
    </div>
    <div v-if="notFound.length > 0">
      <h1>
        No encontrados
      </h1>
      <div v-for="(name, index) in notFound" :key="index">
        <span>
          {{ name }}
        </span>
      </div>
    </div>
  </div>
</template>
|
<script>
// @ is an alias to /src
// import ListIngredients from '../components/ListIngredients';
import SearchIgredients from '../components/SearchIgredients';
import ListIngredients from '../components/ListIngredients';
import { mapGetters } from 'vuex';

export default {
  name: 'Home',
  components: {
    ListIngredients,
    SearchIgredients
  },
  props: [],
  computed: {
    ...mapGetters({
      ingredients: 'ingredientModule/ingredientsList',
      notFound: 'ingredientModule/notFound',
      ingredientTypes: 'ingredientTypeModule/ingredientTypes'
    })
  },
  data() {
    return {};
  },
  methods: {
    filterIngredients(ingredientTypeId) {
      const filteredIngredients = this.ingredients.filter(
        ingredient => ingredient.ingredientType.id === ingredientTypeId
      );

      return filteredIngredients;
    }
  },
  mounted() {
    this.$store.dispatch('ingredientTypeModule/fetchIngredientTypes');
  }
};
</script>
