<template>
  <div class="auth">
    <v-row justify="center">
      <v-col cols="6">
        <sign-up-stepper />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import SignUpStepper from '../components/SignUpStepper.vue';
import snackBarMixin from '@/mixins/snackbar/index.js';

export default {
  name: 'SignUp',
  components: {
    SignUpStepper
  },
  mixins: [snackBarMixin],
  data() {
    return {};
  },
  mounted() {
    this.$store.dispatch('hairTypeModule/fetchHairTypes');
    this.$store.dispatch('hairPatternModule/fetchHairPatterns');
  }
};
</script>
