<template>
  <div class="UserProfile">
    <div class="center grid">
            <v-row no-gutters justify="center">
          <v-col cols="12">
              <user-avatar></user-avatar>
          </v-col>
          <v-col  cols="12" md="6">
              <user-form></user-form>
          </v-col>
        </v-row>
    </div>
  </div>
</template>
<script>
import UserAvatar from '../components/UserAvatar';
import UserForm from '../components/UserForm';

export default {
  name: 'UserProfile',
  data() {
    return {

    };
  },
  components: {
    UserAvatar,
    UserForm
  },
  methods: {

  }
};
</script>
<style scoped>
.ana-vs-row-min {
  min-height: 80vh;
}
</style>
