<template>
  <v-container>
    <v-form v-model="isFormValid">
      <v-textarea
        v-model="answer.description"
        label="Respondé!"
        shaped
        outlined
        rounded
        :rules="rules"
        counter="250"
      ></v-textarea>
    </v-form>
    <v-card-actions>
      <v-spacer></v-spacer>
      <!-- hay que arreglar éste botón, el método no funciona bien -->
      <v-btn
        :disabled="!isFormValid"
        justify-right
        color="primary"
        :loading="isCreatingPost"
        @click="createAnswer()"
        >Enviar</v-btn
      >
    </v-card-actions>
    <snackbar />
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import snackBarMixin from '@/mixins/snackbar';
import Snackbar from './Snackbar.vue';

export default {
  props: {
    currentPostId: String
  },
  components: {
    Snackbar
  },
  mixins: [snackBarMixin],
  computed: {
    ...mapGetters({
      currentUser: 'authModule/currentUser'
    })
  },
  created() {},
  methods: {
    createAnswer() {
      this.isCreatingPost = true;
      this.answer.userId = this.currentUser.id;
      this.answer.postId = parseInt(this.currentPostId);
      this.$store
        .dispatch('answerModule/createAnswer', this.answer)
        .then(serverResponse => {
          this.isCreatingPost = false;
          this.openSnackbar({ message: serverResponse.message });
        })
        .catch(error => {
          this.isCreatingPost = false;
          console.log(error);
          // snackbar con el error.message y borrar console log
        });
    }
  },
  data: () => ({
    answer: {
      userId: 1, // éste id está harcodeado, debería ser el del currentUser
      postId: 1,
      description: ''
    },
    isCreatingPost: false,
    rules: [
      v => !!v || 'Respuesta necesaria',
      v => v.length <= 250 || 'Máximo 250 caracteres'
    ],
    isFormValid: false
  })
};
</script>
