<template>
  <v-card max-width="1000" class="mx-auto" color="#805E73">
    <v-list-item>
      <v-list-item-avatar v-if="answer.user.avatarUrl != null">
        <img :src="answer.user.avatarUrl" />
      </v-list-item-avatar>
      <v-list-item-avatar v-else>
        <img
          src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/4_avatar-512.png"
        />
      </v-list-item-avatar>
      <v-list-item-content>
        <v-row>
          <v-col cols="auto" class="mr-auto">
            <v-list-item-title class="headline">{{
              answer.title
            }}</v-list-item-title>
            <v-list-item-subtitle>{{ answer.user.name }}</v-list-item-subtitle>
          </v-col>
          <v-col cols="auto"><EditButton :currentObject="answer"/></v-col>
        </v-row>
      </v-list-item-content>
    </v-list-item>

    <v-card-text lim>{{ answer.description }}</v-card-text>
  </v-card>
</template>

<script>
import EditButton from './EditButton.vue';

export default {
  components: {
    EditButton
  },
  props: {
    answer: Object
  },
  data() {
    return {};
  },
  methods: {}
};
</script>
