<template>
  <div>
    <v-app-bar app color="primary" dark>
      <v-toolbar-title>Apto no Apto</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn class="ml-4" text color="white" to="/">Home</v-btn>
      <v-btn
        class="ml-4"
        v-if="isAuthenticated"
        text
        color="white"
        to="/user-profile"
        >Perfil</v-btn
      >
      <v-btn class="ml-4" v-if="isAuthenticated" text color="white" to="/posts"
        >Foro</v-btn
      >
      <v-btn
        class="ml-4"
        v-if="currentUser && currentUser.userRol.id === 1"
        text
        color="white"
        to="/admin"
        >Admin</v-btn
      >
      <div class="ml-4">
        <v-menu
          bottom
          :close-on-content-click="closeOnContentClick"
          v-if="!isAuthenticated"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn outlined small v-bind="attrs" v-on="on"
              >Iniciar sesión</v-btn
            >
          </template>
          <v-card class="mx-auto" outlined>
            <v-card-text>
              <sign-in />
            </v-card-text>
          </v-card>
        </v-menu>
        <v-btn v-else outlined small @click="signOut">Cerrar sesión</v-btn>
      </div>
    </v-app-bar>
  </div>
</template>

<script>
import SignIn from './SignIn.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'app-navbar',
  components: {
    SignIn
  },
  data() {
    return {
      closeOnContentClick: false
    };
  },
  computed: {
    ...mapGetters({
      isOpenMenu: 'componentModule/appBarMenuModule/isOpenMenu',
      isAuthenticated: 'authModule/isAuthenticated',
      currentUser: 'authModule/currentUser'
    })
  },
  methods: {
    async signOut() {
      try {
        await this.$store.dispatch('authModule/signOut');
        if (this.$route.fullPath !== '/') {
          this.$router.push({ path: '/' });
        }
      } catch (error) {}
    }
  }
};
</script>
