<template>
  <div>
    <v-card-actions
      v-if="currentObject && currentUser && currentObject.user.id == currentUser.id"
    >
      <v-dialog v-model="dialog1" width="1000"
        ><template v-slot:activator="{ on, attrs }">
          <v-btn small color="success" v-bind="attrs" v-on="on">Editar</v-btn>
        </template>
        <v-card>
          <v-card-title primary-title>
            Modifica tu {{ defineObject }}
          </v-card-title>

          <Editer :toEdit="this.currentObject" :define="this.defineObject" />

          <v-divider></v-divider>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog2" width="1000">
        <template v-slot:activator="{ on, attrs }">
          <v-btn small color="red darken-3" v-bind="attrs" v-on="on"
            >Eliminar</v-btn
          >
        </template>
        <v-card>
          <v-card-text>
            <v-list-item-content>
              <v-row>
                <v-col cols="auto" class="mr-auto">
                  <v-list-item-title class="headline"
                    >Tu {{ defineObject }} se eliminará para SIEMPRE, estás
                    seguro??</v-list-item-title
                  >
                </v-col>
                <v-col cols="auto"
                  ><v-btn
                    small
                    color="red darken-3"
                    :loading="isButtonPressed"
                    @click="eliminar()"
                    >Eliminar</v-btn
                  ><v-btn small color="yellow darken-3" @click="cancelar()"
                    >Cancelar</v-btn
                  ></v-col
                >
              </v-row>
            </v-list-item-content>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-card-actions>
    <snackbar />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Editer from './Editer.vue';
import snackBarMixin from '@/mixins/snackbar';
import Snackbar from './Snackbar.vue';

export default {
  components: { Editer, Snackbar },
  mixins: [snackBarMixin],
  computed: {
    ...mapGetters({
      currentUser: 'authModule/currentUser'
    }),
    defineObject() {
      var defined;
      if (this.currentObject.title !== undefined) {
        defined = 'pregunta';
      } else {
        defined = 'respuesta';
      }
      return defined;
    }
  },
  props: {
    currentObject: Object
  },
  data() {
    return {
      dialog1: false,
      dialog2: false,
      isButtonPressed: false
    };
  },
  methods: {
    cancelar() {
      this.dialog2 = false;
    },
    async eliminar() {
      if (this.defineObject === 'pregunta') {
        try {
          this.isButtonPressed = true;

          const serverResponse = await this.$store.dispatch(
            'postModule/deletePost',
            this.currentObject.id
          );
          this.isButtonPressed = false;
          this.openSnackbar({ message: serverResponse.message });
        } catch (error) {
          this.isButtonPressed = false;
          this.openSnackbar({ message: 'Ocurrio un error en el servidor' });
        }
      } else {
        try {
          this.isButtonPressed = true;
          console.log(this.currentObject);
          const serverResponse = await this.$store.dispatch(
            'answerModule/deleteAnswer',
            this.currentObject.id
          );
          this.isButtonPressed = false;
          this.openSnackbar({ message: serverResponse.message });
        } catch (error) {
          this.isButtonPressed = false;
          this.openSnackbar({ message: 'Ocurrio un error en el servidor' });
        }
      }
    }
  }
};
</script>
