<template>
  <div>
    <v-card>
      <v-card-text>
        <v-form v-model="isFormValid">
          <v-text-field
            v-if="this.define != 'respuesta'"
            v-model="editedObject.title"
            class="mb-2"
            placeholder="Pregunta"
            :rules="titleRule"
          ></v-text-field>
          <v-textarea
            v-model="editedObject.description"
            shaped
            outlined
            rounded
            :rules="descripRule"
            counter="250"
          ></v-textarea>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <div></div>
        <v-spacer></v-spacer>
        <v-btn
          class="float-right"
          :disabled="!isFormValid"
          justify-right
          @click="updateToEdit()"
          :loading="isButtonPressed"
          >Editar</v-btn
        >
        <!-- hay que implementar la creación del post cuando se aprieta éste botón -->
      </v-card-actions>
    </v-card>
    <snackbar />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import snackBarMixin from '@/mixins/snackbar';
import Snackbar from './Snackbar.vue';

export default {
  name: 'Editer',
  components: {
    Snackbar
  },
  props: {
    toEdit: Object,
    define: String
  },
  mixins: [snackBarMixin],
  computed: {
    ...mapGetters({
      currentUser: 'authModule/currentUser'
    }),
    editedObject() {
      console.log(this.toEdit);
      var object;
      if (this.define === 'pregunta') {
        object = {
          id: this.toEdit.id,
          title: this.toEdit.title,
          description: this.toEdit.description,
          userId: this.currentUser.id
        };
      } else {
        object = {
          id: this.toEdit.id,
          postId: this.toEdit.postId,
          description: this.toEdit.description,
          userId: this.currentUser.id
        };
      }
      return object;
    }
  },
  data() {
    return {
      isButtonPressed: false,
      titleRule: [
        v => !!v || 'Campo necesario',
        v => v.length <= 30 || 'Máximo 30 caracteres'
      ],
      descripRule: [v => v.length <= 250 || 'Máximo 250 caracteres'],
      isFormValid: false
    };
  },
  methods: {
    async updateToEdit() {
      if (this.define === 'pregunta') {
        this.isButtonPressed = true;
        try {
          const serverResponse = await this.$store.dispatch(
            'postModule/updatePost',
            this.editedObject
          );
          this.isButtonPressed = false;
          this.openSnackbar({ message: serverResponse.message });
        } catch (error) {
          this.isButtonPressed = false;
          this.openSnackbar({ message: 'Ocurrio un error en el servidor' });
        }
      } else {
        this.isButtonPressed = true;
        try {
          const serverResponse = await this.$store.dispatch(
            'answerModule/updateAnswer',
            this.editedObject
          );
          this.isButtonPressed = false;
          this.openSnackbar({ message: serverResponse.message });
        } catch (error) {
          this.isButtonPressed = false;
          this.openSnackbar({ message: 'Ocurrio un error en el servidor' });
        }
      }
    }
  }
};
</script>
