<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="ingredients"
      :search="search"
      sort-by="name"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar>
          <v-toolbar-title>Ingredientes</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on"
                >Nuevo Ingrediente</v-btn
              >
            </template>
            <v-card>
              <v-form ref="form" v-model="valid">
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field
                          v-model="editedItem.name"
                          label="Nombre del Ingrediente"
                          :rules="nameRules"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-textarea
                          v-model="editedItem.description"
                          label="Descripción"
                          counter="250"
                        ></v-textarea>
                      </v-col>
                      <v-col cols="12">
                        <v-select
                          v-model="editedItem.ingredientType"
                          :items="ingredientTypes"
                          item-text="name"
                          return-object
                          label="Tipo"
                          :rules="ingredientTypeRules"
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close"
                    >Cancelar</v-btn
                  >
                  <v-btn
                    color="blue darken-1"
                    text
                    @click="save"
                    :disabled="!valid"
                    >Guardar</v-btn
                  >
                </v-card-actions>
              </v-form>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small color="error" @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <p>No hay datos</p>
        <v-btn text small color="primary" @click="reload">Recargar</v-btn>
      </template>
    </v-data-table>
    <snackbar />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import snackBarMixin from '@/mixins/snackbar';
import Snackbar from './Snackbar.vue';

export default {
  components: {
    Snackbar
  },
  mixins: [snackBarMixin],
  data: () => ({
    valid: true,
    search: '',
    dialog: false,
    nameRules: [
      v => !!v || 'El campo nombre es requerido',
      v => (v && v.length <= 50) || 'Nombre debe ser menor a 50 caracteres'
    ],
    ingredientTypeRules: [v => !!v || 'El tipo es requerido'],
    headers: [
      {
        text: 'Nombre',
        value: 'name',
        width: '25%',
        align: 'start'
      },
      {
        text: 'Descripción',
        value: 'description',
        width: '50%',
        align: 'start'
      },
      {
        text: 'Tipo',
        value: 'ingredientType.name',
        width: '15%',
        align: 'center'
      },
      {
        text: 'Actions',
        value: 'actions',
        sortable: false,
        width: '10%',
        align: 'center'
      }
    ],
    editedIndex: -1,
    editedItem: {
      id: '',
      name: '',
      description: '',
      userId: '',
      ingredientType: ''
    },
    defaultItem: {
      name: '',
      description: '',
      userId: '',
      ingredientTypeId: ''
    },
    newItem: {
      name: '',
      description: '',
      userId: '',
      ingredientTypeId: ''
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? 'Nuevo Ingrediente'
        : 'Editar Ingrediente';
    },
    ...mapGetters({
      ingredients: 'ingredientModule/ingredients',
      ingredientTypes: 'ingredientTypeModule/ingredientTypes',
      currentUser: 'authModule/currentUser'
    })
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  methods: {
    reload() {
      this.$store.dispatch('ingredientModule/fetchIngredients');
    },

    editItem(item) {
      item.name = item.name.toLowerCase();
      this.editedIndex = this.ingredients.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      confirm('¿Estás seguro de borrar este ingrediente?');
      this.$store
        .dispatch('ingredientModule/deleteIngredient', item.id)
        .then(serverResponse => {
          this.reload();
          this.openSnackbar({ message: serverResponse.message });
        })
        .catch(error => {
          console.log(error);
          this.openSnackbar({ message: 'Ocurrio un error en el servidor' });
        });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
      this.$refs.form.reset();
    },

    save() {
      if (this.editedIndex > -1) {
        this.editIngredient(
          Object.assign(this.ingredients[this.editedIndex], this.editedItem)
        );
      } else {
        this.newItem.name = this.editedItem.name.toLowerCase();
        this.newItem.description = this.editedItem.description;
        // this.newItem.userId = this.editedItem.userId;
        this.newItem.userId = this.currentUser.id;
        this.newItem.ingredientTypeId = this.editedItem.ingredientType.id;
        this.createIngredient();
      }
      this.close();
    },

    editIngredient(editedItem) {
      this.$store
        .dispatch('ingredientModule/editIngredient', editedItem)
        .then(serverResponse => {
          this.reload();
          this.openSnackbar({ message: serverResponse.message });
        })
        .catch(error => {
          console.log(error);
          this.openSnackbar({ message: 'Ocurrio un error en el servidor' });
        });
    },

    createIngredient() {
      this.$store
        .dispatch('ingredientModule/createIngredient', this.newItem)
        .then(serverResponse => {
          this.reload();
          this.openSnackbar({ message: serverResponse.message });
        })
        .catch(error => {
          console.log(error);
          this.openSnackbar({ message: 'Ocurrio un error en el servidor' });
        });
    }
  }
};
</script>
