<template>
  <div class="container ">
   <v-card
      class="mx-auto"
      max-width="400px"
      outlined
    >
        <v-list-item-content>

          <h4>{{name}}</h4>
        </v-list-item-content>

    </v-card>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'ItemIngredient',
  props: [
    'name'
  ]
};
</script>

<style scoped lang="css">
/* h1{
    text-align: center;
} */
</style>
