<template>
  <div class="home">
    <h1>{{ title }}</h1>

      <div v-for="(ingredient, index) in ingredients" :key="index">
        <IngredientItem :name="ingredient.name" />
      </div>
    <p v-if="ingredients.length === 0">
      No hay ingredientes para mostrar
    </p>
  </div>
</template>

<script>
import IngredientItem from './ItemIngredient';
// @ is an alias to /src

export default {
  name: 'ListIngredients',
  components: {
    IngredientItem
  },
  props: {
    title: String,
    ingredients: Array
  }
};
</script>
<style scoped lang="css">
h1 {
  text-align: center;
}
</style>
