<template>
  <v-container style="background:grey;color:white">
    <v-card>
      <v-sheet elevation="12" class="pa-5" color="black">
        <v-form v-model="isFormValid">
          <v-text-field
            v-model="post.title"
            class="mb-2"
            placeholder="Pregunta"
            :rules="titleRule"
          ></v-text-field>
          <v-text-field
            height="300"
            v-model="post.description"
            label="Escribí una descripción!"
            shaped
            outlined
            rounded
            :rules="descripRule"
            counter="250"
          ></v-text-field>
        </v-form>
      </v-sheet>
    </v-card>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn :disabled="!isFormValid" justify-right @click="addPost()"
        >Enviar</v-btn
      >
    </v-card-actions>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      currentUser: 'authModule/currentUser'
    })
  },
  data() {
    return {
      post: {
        title: '',
        description: ''
      },
      titleRule: [
        v => !!v || 'Campo necesario',
        v => v.length <= 30 || 'Máximo 30 caracteres'
      ],
      descripRule: [v => v.length <= 250 || 'Máximo 250 caracteres'],
      isFormValid: false
    };
  },
  methods: {
    async addPost() {
      this.post.userId = this.currentUser.id;
      try {
        await this.$store.dispatch('postModule/createPost', this.post);
        this.$store.dispatch('postModule/fetchPosts');
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>
