<template>
  <v-card
    v-if="post && post.user"
    max-width="1000"
    class="mx-auto"
    @click="goToPost(post)"
  >
    <v-list-item>
      <v-list-item-avatar v-if="post.user.avatarUrl != null">
        <img :src="post.user.avatarUrl" />
      </v-list-item-avatar>
      <v-list-item-avatar v-else>
        <img
          src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/4_avatar-512.png"
        />
      </v-list-item-avatar>
      <v-list-item-content>
        <v-row>
          <v-col cols="auto" class="mr-auto">
            <v-list-item-title class="headline">{{
              post.title
            }}</v-list-item-title>
            <v-list-item-subtitle>{{ post.user.name }}</v-list-item-subtitle>
          </v-col>
          <v-col cols="auto"><EditButton :currentObject="post"/></v-col>
        </v-row>
      </v-list-item-content>
    </v-list-item>

    <v-card-text>
      {{ post.description }}
      <div class="text-right">
        <small>{{ post.createdAt | formatDate }}</small>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import EditButton from './EditButton.vue';

export default {
  components: {
    EditButton
  },
  props: {
    post: Object
  },
  filters: {
    formatDate: function(value) {
      const date =
        value.substr(8, 2) +
        '/' +
        value.substr(5, 2) +
        '/' +
        value.substr(0, 4) +
        ' ' +
        value.substr(11, 8);
      return date;
    }
  },
  data() {
    return {};
  },
  methods: {
    goToPost(post) {
      this.$router.push('/post/' + post.id);
    }
  }
};
</script>
