/* eslint-disable no-trailing-spaces */
<template>
  <div class="searchIngredients">
    <p>Agrega uno o varios ingredientes</p>
    <vue-tags-input
      v-model="tag"
      placeholder
      :tags="tags"
      @tags-changed="newTags => (tags = newTags)"
      :separators="separators"
      :allow-edit-tags="true"
    />
    <div style="margin-top: 8px">
      <small>
        Utiliza
        <span>,</span> (coma) o <span>;</span> (punto y coma) como separador. Apreta enter luego de rellenar los campos.
      </small>
    </div>

    <div class="my-2">
      <v-btn color="primary" :disabled="tags.length === 0" @click="fetchIngredientsByList" type="submit"
        >Enviar</v-btn
      >
    </div>
  </div>
</template>

<script>
import VueTagsInput from '@johmun/vue-tags-input';

export default {
  name: 'multi-filter-select',
  components: {
    VueTagsInput
  },
  props: {},
  data() {
    return {
      tag: '',
      tags: [],
      separators: [';', ','],
      array: []
    };
  },
  methods: {
    fetchIngredientsByList() {
      const ingredientsFilter = this.tags.map(tag => tag.text.trim().toLowerCase());
      this.$store.dispatch(
        'ingredientModule/fetchIngredientsByList',
        ingredientsFilter
      );
      this.tags = [];
    }
  }
};
</script>

<style lang="css">
.vs-select-content {
  max-width: 100%;
}
.vue-tags-input {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: none !important;
}

.vue-tags-input .ti-tag {
  border-radius: 20px;
}

.vue-tags-input .ti-focus {
  background-color: none;
}
.searchIngredients {
  margin-top: 10%;
}
</style>
