<template>
  <div class="sign-in">
    <div class="text-center ana-circular-progress" v-if="isLoading">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>
    <div v-else>
      <v-form ref="form" v-model="isValidForm">
        <v-text-field
          v-model="user.email"
          label="Email"
          dense
          :rules="rules.email"
          outlined
          required
        ></v-text-field>

        <v-text-field
          v-model="user.password"
          label="Password"
          dense
          :rules="rules.password"
          outlined
          required
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPassword = !showPassword"
          :type="showPassword ? 'text' : 'password'"
        ></v-text-field>

        <div>
          <v-btn
            block
            @click="signIn"
            :disabled="!isValidForm"
            small
            color="primary"
            >Ingresar</v-btn
          >
        </div>
      </v-form>

      <div class="mt-4 text-center">
        <v-row align="center" justify="center">
          <v-col>
            <v-divider></v-divider>
          </v-col>
          <!-- <v-col cols="1">
            <span class="caption mx-auto">O</span>
          </v-col>
          <v-col>
            <v-divider></v-divider>
          </v-col> -->
        </v-row>
      </div>
      <div>
        <!-- <v-btn @click="signInWithGooglePopUp" small block square>
          <span class="logo-icon mr-2">
            <v-img src="@/assets/icons/logo-google.svg" />
          </span>
          Ingresar con google
        </v-btn> -->
      </div>
      <div class="text-center mt-4">
        <v-btn to="/sign-up" color="primary" text small
          >Si no tienes cuenta, puedes registrarte acá</v-btn
        >
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'SignIn',
  data() {
    return {
      valid: true,
      isLoading: false,
      isValidForm: false,
      showPassword: false,
      user: {
        email: '',
        password: ''
      },
      rules: {
        email: [v => !!v || 'El email es requerido'],
        password: [
          v => (v && v.length >= 6) || 'Las contraseña es muy corta',
          v => !!v || 'Las contraseña es requerida'
        ]
      }
    };
  },
  methods: {
    async signIn() {
      this.isLoading = true;
      try {
        await this.$store.dispatch(
          'authModule/signInWithEmailAndPassword',
          this.user
        );
        this.isLoading = false;
      } catch (error) {
        console.log(error);
        this.isLoading = false;
      }
    },

    async signInWithGooglePopUp() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('authModule/signInWithGooglePopUp');
      } catch (error) {
        console.log(error);
        this.isLoading = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
$sign-in-min-height: 250px;

.sign-in {
  min-height: $sign-in-min-height;
  min-width: 350px;
}
.ana-circular-progress {
  height: 100%;
  width: 100%;
  line-height: $sign-in-min-height;
}
</style>
