<template>
  <v-form ref="form" v-model="isValidForm">
    <v-stepper v-model="e1" vertical>
      <v-progress-linear v-if="isLoading" indeterminate></v-progress-linear>
      <v-stepper-step :complete="e1 > 1" step="1">
        Datos
        <small>Algunos datos sobre vos</small>
      </v-stepper-step>

      <v-stepper-content step="1">
        <div class="pt-1">
          <v-text-field
            v-model="user.name"
            label="Nombre"
            outlined
            required
            :rules="rules.name"
          ></v-text-field>
        </div>
        <div class="pt-1">
          <v-text-field
            v-model="user.email"
            label="Email"
            outlined
            required
            :rules="rules.email"
          ></v-text-field>
        </div>
        <v-btn color="primary" @click="e1 = 2">Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="e1 > 2" step="2"
        >Seguridad
        <small>Resguardemos tu informacion</small>
      </v-stepper-step>

      <v-stepper-content step="2">
        <div class="pt-1">
          <v-text-field
            v-model="user.password"
            label="Contreseña"
            :rules="rules.password"
            outlined
            required
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
            :type="showPassword ? 'text' : 'password'"
          ></v-text-field>
        </div>
        <div class="pt-1">
          <v-text-field
            v-model="passwordCheck"
            label="Confirmar contraseña"
            :rules="rules.passwordCheck"
            outlined
            required
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
            :type="showPassword ? 'text' : 'password'"
          ></v-text-field>
        </div>
        <v-btn color="primary" @click="e1 = 3">Continue</v-btn>
        <v-btn text @click="e1 = 1">Volver</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="e1 > 3" step="3"
        >Establecé tu tipo de cabello
        <small>Para recomendarte lo mejor</small>
      </v-stepper-step>

      <v-stepper-content step="3">
        <div class="pt-1">
          <v-select
            v-model="user.hairPatternIds"
            :items="allHairPatterns"
            outlined
            chips
            label="Patrones de cabello"
            multiple
            :rules="rules.allHairPatterns"
            item-text="name"
            item-value="id"
          ></v-select>
        </div>
        <div class="pt-1">
          <v-select
            v-model="user.hairTypeIds"
            :items="allHairTypes"
            outlined
            chips
            label="Tipo de cabello"
            multiple
            :rules="rules.allHairTypes"
            item-text="name"
            item-value="id"
          ></v-select>
        </div>

        <v-btn color="primary" :disabled="!isValidForm" @click="signUp"
          >Registrarse</v-btn
        >
        <v-btn text @click="e1 = 2">Volver</v-btn>
      </v-stepper-content>
    </v-stepper>
  </v-form>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'sign-up-stepper',
  components: {},
  data() {
    return {
      e1: 1,
      showPassword: false,
      isValidForm: false,
      isLoading: false,
      user: {
        name: '',
        email: '',
        password: '',
        hairPatternIds: [],
        hairTypeIds: []
      },
      passwordCheck: '',
      rules: {
        name: [v => !!v || 'El nombre es requerido'],
        email: [v => !!v || 'El email es requerido'],
        allHairPatterns: [
          v => (v && v.length >= 1) || 'Selecciona al menos un patron',
          v => (v && v.length <= 4) || 'No puedes seleccionar mas de 4'
        ],
        allHairTypes: [
          v => (v && v.length >= 1) || 'Selecciona al menos un tipo',
          v => (v && v.length <= 2) || 'No puedes seleccionar mas de 2'
        ],
        password: [
          v => (v && v.length >= 6) || 'Las contraseña es muy corta',
          v => !!v || 'Las contraseña es requerida'
        ],
        passwordCheck: [
          v => !!v || 'Confirma tu contraseña',
          v => (v && v === this.user.password) || 'Las contraseñas no conciden'
        ]
      }
    };
  },
  methods: {
    async signUp() {
      this.isLoading = true;

      try {
        await this.$store.dispatch('authModule/signUp', this.user);

        this.$router.push({ path: '/' });
      } catch (error) {
        console.log(error);
      }
    }
  },

  computed: {
    // mix the getters into computed with object spread operator
    ...mapGetters({
      allHairPatterns: 'hairPatternModule/hairPatterns',
      allHairTypes: 'hairTypeModule/hairTypes'
    })
  }
};
</script>
