<template>
  <div class="text-center ma-2">
    <v-snackbar v-model="isOpen" timeout="-1">
      {{ message }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      isOpen: 'componentModule/snackbarModule/isOpen',
      message: 'componentModule/snackbarModule/message'
    })
  },
  methods: {
    closeSnackbar() {
      this.$store.dispatch('componentModule/snackbarModule/closeSnackbar');
    }
  }
};
</script>
