<template>
  <v-card-text class="mx-auto">
    <v-form ref="form" v-model="valid" lazy-validation>
      <div class="text-right">
        <v-btn color="primary" fab small dark @click="edit()">
          <v-icon align="start" justify="end">mdi-pencil</v-icon>
        </v-btn>
      </div>
      <v-text-field
        v-model="user.name"
        :counter="10"
        :rules="nameRules"
        label="Nombre"
        required
        :disabled="!editable"
      ></v-text-field>

      <v-text-field
        v-model="user.email"
        label="E-mail"
        readonly
        disabled
      ></v-text-field>

      <v-select
        v-model="user.hairTypes"
        :items="hairTypes"
        label="Tipos de pelo"
        required
        multiple
        chips
        deletable-chips
        :disabled="!editable"
        item-text="name"
        item-value="id"
        readonly
      ></v-select>
      <v-select
        v-model="user.hairPatterns"
        :items="hairPatterns"
        label="Patrones de pelo"
        required
        multiple
        readonly
        chips
        deletable-chips
        :disabled="!editable"
        item-text="name"
        item-value="id"
      ></v-select>
      <v-btn color="success" class="mr-4" @click="validate" block
        >Guardar</v-btn
      >
      <v-snackbar v-model="snackbar">
        {{ message }}
        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-form>
  </v-card-text>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    valid: true,
    name: '',
    lastName: '',
    nameRules: [
      v => !!v || 'El campo nombre es requerido',
      v => (v && v.length <= 20) || 'Nombre debe ser menor a 20 caracteres'
    ],
    email: '',
    select: null,
    checkbox: false,
    hairPatternsSelected: [],
    hairTypesSelected: [],
    editable: false,
    message: '',
    snackbar: false
  }),
  computed: {
    ...mapGetters({
      user: 'authModule/currentUser',
      hairPatterns: 'hairPatternModule/hairPatterns',
      hairTypes: 'hairTypeModule/hairTypes'
    })
  },

  methods: {
    validate() {
      this.$refs.form.validate();
      this.$store
        .dispatch('authModule/updateUser', this.user)
        .then(userUpdated => {
          this.message = `Usuario ${userUpdated.name} actualizado`;
          this.snackbar = true;
        })
        .catch(error => {
          console.log(error);
        });
    },
    edit() {
      this.editable = !this.editable;
    }
  },
  mounted() {
    this.$store.dispatch('hairTypeModule/fetchHairTypes');
    this.$store.dispatch('hairPatternModule/fetchHairPatterns');
  }
};
</script>
