<template>
  <div class="UserAvatar">
    <div class="center grid">
      <v-img height="100%">
        <v-row align="end">
          <v-col align="center" class="pa-5" cols="12">
            <v-avatar class="profile" color="grey" size="164">
              <v-img
                src="https://image.flaticon.com/icons/svg/2922/2922510.svg"
              ></v-img>
            </v-avatar>
          </v-col>
        </v-row>
      </v-img>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserAvatar'
};
</script>

<style scoped></style>
