<template>
  <v-app>
    <app-navbar />
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import AppNavbar from '@/components/AppNavbar.vue';

export default {
  name: 'App',
  components: {
    AppNavbar
  },
  data: () => ({
    //
  }),
  mounted() {}
};
</script>
<style lang="scss">
.logo-icon {
  width: 16px;
}
</style>
