<template>
  <v-card max-width="1000" class="mx-auto">
    <ConcretePost :post="post" />
    <div v-if="post">
      <v-list three-line v-for="(answer, index) in post.answers" :key="index">
        <AnswerCard :answer="answer" />
      </v-list>
    </div>
    <AnswerMaker :currentPostId="postId" />
  </v-card>
</template>

<script>
import ConcretePost from '../../components/ConcretePost.vue';
import AnswerCard from '../../components/AnswerCard.vue';
import AnswerMaker from '../../components/AnswerMaker.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'FullPost',
  components: {
    ConcretePost,
    AnswerCard,
    AnswerMaker
  },
  props: ['postId'],
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      post: 'postModule/postById'
    })
  },
  mounted() {
    this.$store.dispatch('postModule/fetchPostById', this.postId);
    if (!this.post) {
      this.$router.push({ path: '/posts' });
    }
  }
};
</script>
