<template>
  <v-card max-width="1000" class="mx-auto">
    <v-toolbar dark>
      <v-toolbar-title>Preguntas</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        class="mt-5"
        outlined
        dense
        append-icon="mdi-magnify"
        label="Buscar"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="ma-2"
            color="success"
            v-bind="attrs"
            v-on="on"
            >Preguntar</v-btn
          >
        </template>
        <v-card>
          <v-card-title
            class="headline white lighten-1"
            style="color:black"
            primary-title
          >
            Redacta tu pregunta
          </v-card-title>

          <PostMaker />

          <v-divider></v-divider>
        </v-card>
      </v-dialog>
    </v-toolbar>
      <v-list three-line v-for="(post, index) in filteredPosts" :key="index">
        <PostCard :post="post" />
      </v-list>
  </v-card>
</template>

<script>
import PostCard from '../../components/PostCard.vue';
import PostMaker from '../../components/PostMaker.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'Forum',
  components: {
    PostCard,
    PostMaker
  },
  data() {
    return {
      dialog: false,
      search: ''
    };
  },
  computed: {
    ...mapGetters({
      posts: 'postModule/posts'
    }),
    filteredPosts() {
      return this.posts.filter(post => {
        const filter = `${post.title} ${post.description}`;
        return filter.toLowerCase().includes(this.search.toLowerCase());
      });
    }
  },
  methods: {
    fetchPost() {
      this.$store.dispatch('postModule/fetchPosts');
    }
  },
  mounted() {
    this.$store.dispatch('postModule/fetchPosts');
  }
};
</script>
